<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header th:include="fragments/header :: header"></header>
    <ul class="doctor-list">
      <li>
        <a th:href="@{/doctor/?number=1&amp;name=William%20Hartnell}"
          >Doctor 1</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=2&amp;name=Patrick%20Troughton}"
          >Doctor 2</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=3&amp;name=Jon%20Pertwee}">Doctor 3</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=4&amp;name=Tom%20Baker}">Doctor 4</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=5&amp;name=Peter%20Davison}">Doctor 5</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=6&amp;name=Colin%20Baker}">Doctor 6</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=7&amp;name=Sylvester%20McCoy}"
          >Doctor 7</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=8&amp;name=Paul%20McGann}">Doctor 8</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=9&amp;name=Christopher%20Eccleston}"
          >Doctor 9</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=10&amp;name=David%20Tennant}"
          >Doctor 10</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=11&amp;name=Matt%20Smith}">Doctor 11</a>
      </li>
      <li>
        <a th:href="@{/doctor/?number=12&amp;name=Peter%20Capaldi}"
          >Doctor 12</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/?number=13&amp;name=Jodie%20Whittaker}"
          >Doctor 13</a
        >
      </li>
      <li><a href="/doctor/">Unknown Doctor</a></li>
    </ul>
    <footer th:include="fragments/footer :: footer"></footer>
  </body>
</html>
